.big {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  
  .dice{
    display: inline-block;
  }
  
  body {
    background-color: #d6e690;
  }
  
  h1{
    margin: 50px;
    font-size: 80px;
    color: #141615;
  }
  
  p{
    font-size: 50px;
    color: #070808;
  }
  
  img {
    width: 70%;
  }
  
  footer {
    color: #050404;
    text-align: center;
  }
  